<div class="row">
    <p style="margin-top:10px; margin-bottom:10px"><b>Leads</b></p>
    <div>
        @ViewData["Leads"]
    </div>
    <p style="margin-top:10px; margin-bottom:10px"><b>Contacts</b></p>
    <div>
        @ViewData["Contacts"]
    </div>
    <p style="margin-top:10px; margin-bottom:10px"><b>Accounts</b></p>
    <div>
        @ViewData["Contacts"]
    </div>
    <p style="margin-top:10px; margin-bottom:10px"><b>Get Lead By Id</b></p>
    <div>
        @ViewData["GetLeadById"]
    </div>
    <p style="margin-top:10px; margin-bottom:10px"><b>Create record</b></p>
    <div>
        @ViewData["CreateRecord"]
    </div>
    <p style="margin-top:10px; margin-bottom:10px"><b>Update record</b></p>
    <div>
        @ViewData["UpdateRecord"]
    </div>
</div>